<p>Welcome, <%= @user.username %>!</p>
<%= link_to 'I have an idea!', new_user_idea_path(@user) %>
<% @user.ideas.each do |idea| %>
<div id='idea-<%= idea.id %>'>
  <p><%= link_to 'change this idea', edit_user_idea_path(@user, idea)%></p>
  <p><%= link_to 'Add an Image', user_idea_images_path(@user, idea)%></p>
  <p>Title: <%= idea.title %></p>
  <p>Description: <%= idea.description %></p>
  <% idea.images.each do |image| %>
    <p><%= image.title %></p>
    <p><%= image_tag(image.url, class: "img-responsive") %></p>
  <% end %>
</div>
<% end %>
