<h1>Images!</h1>
<% if current_admin? %>
  <div id="add-new-image-link">
    <%= link_to 'create a new image' %>
  </div>
<% end %>
<div class="user-ideas-box">
<% @images.each do |image| %>
  <div id="image-<%= image.id %>">
      <div class="image-list">
      <%= image.title %>
      <%= image_tag image.url %>

      <% if @idea %>
        <%= form_tag user_idea_path(current_user, @idea), method: 'patch' do %>
        <%= hidden_field_tag :image_id, image.id %>
        <%= submit_tag "Add Image" %>
      <% end %>

    </div>
    <% end %>
<% end %>
</div>
</div>
